# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [1]:
a = input('Please enter email address: ')
print(a.split('@').pop(1).split('.').pop(0).capitalize())

Please enter email address: meghna@facebook.com
Facebook

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [2]:
user_input = input('Please enter a comma-separated sequence of words: ')
words = [word for word in user_input.split(",")]
print(",".join(sorted(list(set(words)))))

Please enter a comma-separated sequence of words: red, orange
 orange,red

# Question 3:
Create your own Jupyter Notebook for Sets.

In [3]:
set1 = {'banana','apple','orange','strawberry','pomegranate'}
for fruit  in set1:
    print(fruit)

orange
pomegranate
strawberry
apple
banana

In [4]:
set1.add('papaya')
set1.update(['wattermelon','muskmelon'])
print(set1)

{'orange', 'pomegranate', 'strawberry', 'papaya', 'apple', 'muskmelon', 'wattermelon', 'banana'}

In [5]:
set2 = {'a','b','c','d','e','f','g'}
set1.union(set2)

{'a',
 'apple',
 'b',
 'banana',
 'c',
 'd',
 'e',
 'f',
 'g',
 'muskmelon',
 'orange',
 'papaya',
 'pomegranate',
 'strawberry',
 'wattermelon'}

In [6]:
set1.difference(set2)

{'apple',
 'banana',
 'muskmelon',
 'orange',
 'papaya',
 'pomegranate',
 'strawberry',
 'wattermelon'}

In [7]:
set3 = {2,3,5,7,11,13,17,19,23,29}
set4 = {2,4,6,8,10,12,14,16}

In [8]:
set3.intersection(set4)

{2}

In [9]:
set3.isdisjoint(set4)

False

In [10]:
set3.issubset(set4)

False

In [11]:
set3.issuperset(set4)

False

In [12]:
set3.pop()
set3

{3, 5, 7, 11, 13, 17, 19, 23, 29}

In [13]:
set3.symmetric_difference(set4)

{2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 19, 23, 29}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [23]:
def findmissingno(x):
    n = len(x)
    total = (n+1)*(n+2)/2
    sum_x = sum(x)
    return total - sum_x

In [43]:
l = [1,2,4]
findmissingno(l)

3.0

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [46]:
l = [1,2,4,6,7,8,10,334,56,77,2,4,4,6,5,2,7,556,8,89,92]
new_l = []
for i in l:
    if i not in new_l:
        new_l.append(i)
new_l[::-1]

[92, 89, 556, 5, 77, 56, 334, 10, 8, 7, 6, 4, 2, 1]